{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Home page barbearia</title>
</head>
<body>
    {% include 'partials/_menu.html' %}

    <main>
        <ul class="menu-cabelo-barba">
            <li>
                <a href="{% url 'cabelo' %}">
                    <h2>CABELO</h2>
                    <img src="{% static 'cabelo.jpg' %}" alt="foto-cabelo">
                    <p>Os melhores cortes de cabelo.</p>
                </a>
            </li>
            <li>
                <a href="{% url 'barba' %}">
                    <h2>BARBA</h2>
                    <img src="{% static 'barba.jpg' %}" alt="foto-barba">
                    <p>Barba digna de um guerreiro.</p>
                </a>
            </li>
        </ul>
    </main>
    
    {% include 'partials/_footer.html' %}
</body>
</html>