{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Informações</title>
</head>
<body>
    {% include 'partials/_menu.html' %}
    <main>
        <div class="caixa-informacoes">
            <ul>
                <li>ENDEREÇO: <a href="{% static 'https://g.page/bzjardimbotanico?share' %}" target="_blank" rel="external"> <p>R. Jardim Botânico, 216 C - Jardim Botânico, Rio de Janeiro - RJ, 22461-000</p></a></li>
                <li> <p>TELFONE: (21) 99999-9999</p></li>
            </ul>
            <h2>DIAS E HORÁRIOS</h2>
            <table>
                <tr>
                    <thead>
                        <td>Dias</td>
                        <td>Abertura</td>
                        <td>Fechamento</td>
                    </thead>
                    <td>segunda</td>
                    <td>09:00 horas</td>
                    <td>18:00 horas</td>
                </tr>
                <tr>
                    <td>terça</td>
                    <td>09:00 horas</td>
                    <td>18:00 horas</td>
                </tr>
                <tr>
                    <td>quarta</td>
                    <td>09:00 horas</td>
                    <td>18:00 horas</td>
                </tr>
                <tr>
                    <td>quinta</td>
                    <td>09:00 horas</td>
                    <td>18:00 horas</td>
                </tr>
                <tr>
                    <td>sexta</td>
                    <td>09:00 horas</td>
                    <td>18:00 horas</td>
                </tr>
                <tr>
                    <td>sábado</td>
                    <td>10:00 horas</td>
                    <td>19:00 horas</td>
                </tr>
                <tr>
                    <td>domingo</td>
                    <td>10:00 horas</td>
                    <td>14:00 horas</td>
                </tr>
            </table>
        </div>
    </main>

    {% include 'partials/_footer.html' %}
    
</body>
</html>